name: Build Android APK

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master

jobs:
  build-apk:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.35.2"
          channel: "stable"
          cache: true

      - name: Verify Flutter
        run: flutter --version



      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

          
      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install flet-cli==0.80.5
          pip install -r requirements.txt


      - name: Build APK
        run: |
          flet build apk --no-rich-output --skip-flutter-doctor

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: controlatuvida-apk
          path: build/apk/**/*.apk
